html#ecwid_html body#ecwid_body .ecwid, html#ecwid_html body#ecwid_body .ecwid-minicart, html#ecwid_html body#ecwid_body .ecwid-SearchPanel, html#ecwid_html body#ecwid_body .dateBoxPopup, html#ecwid_html body#ecwid_body .gwt-PopupPanel {
	font-size: 18px;
	font-family: 'Rokkitt', serif !important;
	font-weight: 400 !important;
	color: rgba(0,0,0,.87) !important;
}
html#ecwid_html body#ecwid_body div.ecwid-ProductBrowserPopup>div {
	background: #fff;
}
html#ecwid_html body#ecwid_body div.ecwid-productBrowser {
	background: #fff;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control {
	background: #fbfbfb;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control:hover {
	background: #fff;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control__checkbox-wrap {
	background: #fbfbfb;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control__checkbox-wrap:hover {
	background: #fff;
}
html#ecwid_html body#ecwid_body .ec-size .ec-store .form-control__checkbox-wrap {
	
}