@import url('https://fonts.googleapis.com/css?family=Rokkitt:300,400,500,600,700');

/*** COLORS ***/
 :root {
	--bg:			#2E140E; /* dark-brown */
	--accent:		#761C14; /* primary & text primary */
	--primary: 		#E55C22;
	--secondary:	#E5C000;
	--white:		#FFFFFF;
	--text:			rgba(0 0 0 / 60%);
	--divider:		rgb(0 0 0 / 12%);
}
/*** Admin styles ***/
#adminPanel .wbtn-secondary {
	color: var(--white) !important;
	background-color: var(--accent);
}
#adminPanel .settings {
    opacity: 1.0;
}

/*** ***/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, li, fieldset,
form, label, legend, caption,
tfoot, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline*/
	
}
html, body {
	margin: 0 auto;
	background: var(--white) !important;
	font-size: 16px;
	font-family: 'Rokkitt', serif !important;
	font-weight: 400 !important;
	color: var(--text) !important;
	line-height: 1.5;
}
a, a:link, a:visited {
	-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
	border-bottom: none;
	color: var(--primary);
	text-decoration: none
}
	a:hover {
		border-bottom: none !important;
		color: var(--secondary);
	}
img {
	vertical-align: bottom !important;
}

hr {
	display: none !important;
}

.actions li {
	list-style: none
}

input::-moz-focus-inner {
	border: 0;
	padding: 0
}

/* Basic */
	html {
		box-sizing: border-box
	}

	*, *:before, *:after {
		box-sizing: inherit
	}

/* Type */
	body, select, textarea {
		color: rgba(255, 255, 255, 0.8);
		font-size: 16.5pt;
		font-weight: normal;
		line-height: 1.75
	}
		@media screen and (max-width: 1680px) {
			body, input, select, textarea {
				font-size: 13pt
			}
		}
		@media screen and (max-width: 1280px) {
			body, input, select, textarea {
				font-size: 12pt
			}
		}
		@media screen and (max-width: 360px) {
			body, input, select, textarea {
				font-size: 11pt
			}
		}

	a, a:link, a:visited {
		-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
		border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
		color: var(--bg);
		text-decoration: none
	}
		a:hover {
			border-bottom: none !important;
			color: var(--accent);
		}

	strong, b {
		color: var(--text);
		font-weight: bold
	}

	em, i {
		font-style: italic
	}

	p {
		margin: 0 0 1em 0
	}

	h1, h2, h3, h4, h5, h6 {
		color: var(--accent); /*#ffffff;*/
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: -1.2px;
	}
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none
		}
		h1.text-yellow, h2.text-yellow, h3.text-yellow, h4.text-yellow, h5.text-yellow, h6.text-yellow {
			text-shadow: 2px 2px 2px black;
		}

	h1 {
		font-size: 2.75em
	}
	h2 {
		font-size: 1.75em
	}
	h3 {
		font-size: 1.1em
	}
	h4 {
		font-size: 1em
	}
	h5 {
		font-size: 0.8em
	}
	h6 {
		font-size: 0.6em
	}

	@media screen and (max-width: 736px) {
		h1 {
			font-size: 3em
		}

		h2 {
			font-size: 1.75em
		}

		h3 {
			font-size: 1em
		}

		h4 {
			font-size: 0.8em
		}

		h5 {
			font-size: 0.6em
		}

		h6 {
			font-size: 0.6em
		}
	}

	code {
		background: rgba(255, 255, 255, 0.05);
		border-radius: 0.25em;
		border: solid 1px rgba(255, 255, 255, 0.15);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0
	}
		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto
		}


	.text-center {
		text-align: center
	}

/* Button */
form .winput-group {
    display: flex;
    flex-direction: column;
    align-items: center;
	color: var(--text) !important;
}
form button {
	height: 34px;
}
input[type=email], input[type=password], input[type=tel], input[type=text], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--white) !important;
    border-radius: 0.25em;
    border: none;
    border: 2px solid var(--accent) !important;
    color: var(--text) !important;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    /*width: 150px !important;*/
}
.form-group.note-form-group input[type=email],
.form-group.note-form-group input[type=password],
.form-group.note-form-group input[type=tel],
.form-group.note-form-group input[type=text],
.form-group.note-form-group select,
.form-group.note-form-group textarea {
    width: 100% !important;
}
.note-editor.note-airframe .note-editing-area .note-codable,
.note-editor.note-frame .note-editing-area .note-codable {
	width: 100% !important;
}

input[type=email]:placeholder, input[type=password]:placeholder,
input[type=tel]:placeholder, input[type=text]:placeholder, select, textarea:placeholder {
	color: var(--text) !important;
}

#adminPanel .settings {
    top: 90px;
    right: calc(105px + 8px);
    min-height: 40px;
    max-height: 40px;
    opacity: 1.0;
    border: 0 !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    border-radius: 0.25rem;
	color: var(--secondary) !important;
}
	#adminPanel .logout {
		top: 90px;
		right: 50px;
		min-height: 40px;
		max-height: 40px;
		opacity: 1.0;
	}

	#adminPanel .wbtn.wbtn-secondary.wbtn-sm.settings.button,
	#adminPanel .wbtn.wbtn-danger.wbtn-sm.button.logout {
		display: flex;
		align-items: center;
		padding: 0 1.0rem !important;
	    border: 0 !important;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 40px;
	    letter-spacing: 0;
		color: #FFFFFF !important;
	}
		#adminPanel .wbtn.wbtn-secondary.wbtn-sm.settings.button > i {
			float: none;
		}

	input[type="button"], .button,
	.wbtn.wbtn-secondary.wbtn-sm.settings.button {
    	position: relative;
    	display: inline-block;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: var(--accent) !important;
		padding: 0 1.0rem !important;
	    border: 0 !important;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 40px;
	    letter-spacing: 0;
	    border-radius: 0.25rem;
    	color: var(--secondary) !important;
		cursor: pointer;
		letter-spacing: normal;
		outline: 0;
    	transition: all .15s ease-in-out;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		
		input[type="button"]:hover,
		.button:hover,
		.wbtn.wbtn-secondary.wbtn-sm.settings.button:hover {
	    	position: relative;
	    	display: inline-block;
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background-color: var(--bg) !important;
			padding: 0 1.0rem !important;
		    border: 0 !important;
		    font-size: 1rem;
		    font-weight: 400;
		    line-height: 40px;
		    letter-spacing: 0;
		    border-radius: 0.25rem;
        	color: var(--secondary) !important;
			cursor: pointer;
			letter-spacing: normal;
			outline: 0;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;
		}
	/*
		input[type="button"]:after,
		button:after,
		.button:after {
			-moz-transform: scale(0.25);
			-webkit-transform: scale(0.25);
			-ms-transform: scale(0.25);
			transform: scale(0.25);
			pointer-events: none;
			-moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
			-webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
			-ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
			transition: opacity 0.2s ease, transform 0.2s ease;
			background: #ffffff;
			border-radius: 3em;
			content: '';
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 100%
		}
			input[type="button"]:hover:after,
			button:hover:after,
			.button:hover:after {
				opacity: 0.05;
				-moz-transform: scale(1);
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1)
			}
				input[type="button"]:hover:active:after,
				button:hover:active:after,
				.button:hover:active:after {
					opacity: 0.1
				}
		*/
			input[type="button"]:hover:active,
			button:hover:active,
			.button:hover:active {
				border-color: transparent !important;
			}

		input[type="password"] {
			border: 0;
			outline: 0;
			padding: 15px;
			border-radius: 10px;
			width: 300px
		}

/* Wrapper */
	.wrapper {
		position: relative;
		background-color: var(--white) !important;
	}
		.wrapper > .inner {
			width: 100%;
			padding: 5em 4em 2em 4em
		}
			@media screen and (max-width: 1680px) {
				footer > .inner {
					padding: 2em 4em 2em 4em !important
				}
			}
			@media screen and (max-width: 736px) {

				.wrapper > .inner {
					padding: 2em 2em 2em 2em
				}
				footer > .inner {
					padding: 2em 2em 2em 2em !important
				}
			}
		.wrapper.style2 {
			background-color: var(--bg);
		}
		
		.wrapper.fullscreen {
			min-height: calc(87vh - 2.5em);
			justify-content: flex-start !important;
		}
			@media screen and (max-width: 736px) {

				.wrapper.fullscreen {
					min-height: calc(40vh - 5.5em)
			©	}
			}

/* Wrapper */
	#topMenu + #wrapper {
		margin-left: 0;
		position: relative
	}
		@media screen and (max-width: 736px) {
			#topMenu + #wrapper {
				padding-top: 0;
				top: 2em
			}

		}

	#header + #wrapper > .wrapper > .inner {
		margin: 0 auto
	}

/* Menu */
	@media (min-width: 992px) {
		body {
			padding-top: 78px !important;
		}
		#topMenu {
			position: fixed !important;
		}
	}

	#topMenu {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 78px;
		padding: 0;
		background: var(--bg);
		cursor: default;
		text-align: center;
		line-height: 3.5em;
		z-index: 20
	}

	#topMenu > .inner {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: space-between;
		align-items: center;
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		-moz-transition: opacity 1s ease;
		-webkit-transition: opacity 1s ease;
		-ms-transition: opacity 1s ease;
		transition: opacity 1s ease;
		min-height: 100%;
		opacity: 1;
		width: 100%
	}
		#topMenu .container {
			display: flex;
			justify-content: space-between !important;
			align-items: center;
			height: 100%;
		}
		#topMenu .menu-logo {
			width: auto;
			height: 60px;
		}
		#topMenu .menu-logo a {
			display: block !important;
			height: 100%;
		}		
		#topMenu .menu-logo a img {
			height: 100%;
			width: auto;
		}

		#topMenu nav {
			width: 100%;
			height: inherit;
			line-height: inherit;
			margin-top: 0;
		}
			#topMenu nav ul {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				height: 100%;
				line-height: inherit;
				list-style: none;
				margin-bottom: 0;
				padding: 0
			}
			#topMenu nav a {
				height: inherit;
				line-height: inherit;
				padding: 0
			}
			#topMenu nav > ul > li {
				margin: 0 .5em;
				opacity: 1;
				padding: 0;
				position: relative;
				height: auto;
				line-height: inherit
			}

		#topMenu nav a {
			border: 0;
			font-size: 0.70em;
			font-weight: bold;
			letter-spacing: 0.25em;
			outline: 0;
			padding: 0;
			position: relative;
			text-decoration: none;
			text-transform: uppercase
		}
		#topMenu nav li.active, nav li.active a	{
			color: var(--secondary) !important;
		}
		/*
			#topMenu nav .active a{
				border-bottom: 1px solid var(--secondary);
			}
			#topMenu nav a:hover {
				border-bottom: 1px solid var(--primary);

			}
		*/
			#topMenu nav a.active {
				color: var(--primary);
			}
				#topMenu nav a.active:after {
					max-width: 100%
				}
			#topMenu nav a:hover {
				color: var(--secondary) !important;
			}

		@media screen and (max-width: 736px) {
			#topMenu {
				height: auto;
				font-size: 0.94em;
				position: relative;
				background-color: var(--bg);
				padding-bottom: 20px
			}
			#topMenu nav ul {
				display: block;
				float: left
			}
			#topMenu nav > ul > li {
				display: block;
				float: left;
				margin: 0 1em 0 2em
			}
			/*
			#topMenu nav .active a {
				border-bottom: 1px solid var(--secondary);
			}
			*/
			footer {
				font-size: 1em
			}
		}

/* Intro */
		#intro p {
			font-size: 1.25em
		}
			@media screen and (max-width: 736px) {
				#intro p {
					font-size: 1em
				}
			}

/* Footer */
	footer {
		text-align: right
	}

/* Submenus */
	.subPageDropdown a {
		border: 0 !important
	}
			
	.subPageDropdown ul {
		margin: 0;
		padding-left: 0
	}

	.subPageDropdown li {
		color: #fff;
		display: block;
		float: left;
		position: relative;
		padding: 0 1em 0 1em;
		text-decoration: none;
		transition-duration: 0.5s
	}
		
	#topMenu li a {
		color: var(--primary);
	}

	#topMenu li:hover,
	#topMenu li:focus-within {
		cursor: pointer
	}

	#topMenu li:focus-within a {
		outline: none
	}

	#topMenu .nav-item {
		margin-top: 0;
	}

	ul.subPageDropdown {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		margin-top: 10px;
		display: none;
		padding-left: 10px !important
	}

	#topMenu ul li:hover > ul,
	#topMenu ul li:focus-within > ul,
	#topMenu ul li ul:hover,
	#topMenu ul li ul:focus {
		visibility: visible;
		opacity: 1;
		display: block
	}

	#topMenu ul li ul li {
		clear: both;
		text-align: left;
		background-color: rgba(0, 0, 0, 0.30);
		white-space: nowrap
	}

	/* Submenus dropdown arrow */
	.menu li > a:after {
		content: ' ▼';
		font-weight: bold
	}

	.menu > li > a:after {
		content: ' ▼';
		font-weight: bold
	}

	.menu li > a:only-child:after {
		content: ''
	}

@media (min-width: 576px) {
	.display-2 {
	    font-size: 5rem !important;
	    letter-spacing: -2.5px !important;
	}
	.jumbotron .container.d-flex .hero-content {
		width: 100%;
		font-weight: 600 !important;
	    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	}

}
/*** Custom body content styles ***/

@media (min-width: 576px) {
	.container {
    	max-width: 540px !important;
	}
}
@media (min-width: 768px) {
	.container {
    	max-width: 720px !important;
	}
}
@media (min-width: 992px) {
	.container {
	    max-width: 960px !important;
	}
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1180px !important;
	}
}


.jumbotron .h1, .jumbotron h1 {
    color: var(--secondary);
}
.jumbotron {
	background-color: var(--accent) !important;
    color: inherit !important;
    min-height: 350px !important;
}
.jumbotron.page {
	display: flex;
	align-items: center;
	background-image: url("../images/wood-bg2.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
    height: 350px;
}
.jumbotron .container {

}

.comment {
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 24px;
    border-bottom: 1px solid var(--divider);
    transition: all 0.3s ease-in-out 0s;
    font-size: 1.5rem !important;;
    line-height: 1.25 !important;
}
.comment:hover {
	color: var(--accent);
	background-color: rgba(118, 28, 20, 0.039);
}
html#ecwid_html body#ecwid_body .copyright {
    font-size: 1rem !important;
    color: #E5C000;
}
footer {
	text-align: unset;
}

